@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gruppo&family=Josefin+Sans:wght@300&family=Oswald&family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");


/*estilizacoes gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;/*tirar barra de rolagem*/
  background-color: #f6f5f2;
}



/******************************FIM*/
/*=============================================*/

/************************BOTOES*/

.btn {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 15px;
  text-decoration: none;
  padding: 12px 27px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  color: #1a1a1a;
  background: #f4f0e6;
  border: 2px solid #ff3800;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  overflow: hidden;
}

.btn-code {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-left: 55px;
  padding: 12px 27px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #1a1a1a;
  background: #f4f0e6;
  border: 2px solid #ff3800;
  cursor: pointer;
  transition: all 0.5s ease-out;
  overflow: hidden;
  
}

.btn-sm{
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-left: 15px;
  color: #f4f0e6;
  font-size: 16px;
  border: 2px solid #f4f0e6c9;
  padding: 5px;
  background-color: #f4f0e638;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  overflow: hidden;
}

.btn-contato{
  position: relative;
  display: inline-block;
  margin-left: 55px;
  text-decoration: none;
  padding: 12px 27px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
  color: #1a1a1a;
  background: #f4f0e6;
  border: 2px solid #ff3800;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  overflow: hidden;
}


.btn-border-1 {
  color: #ff3800; /* cor do texto padrão */
  border-color: #ff3800; /* cor da borda padrão */
}

.btn-border-1:hover {
  color: rgb(255, 247, 247); /* nova cor do texto ao passar o mouse */
  border-color: #ff3800; /* nova cor da borda ao passar o mouse */
  background-color: #ff370080; /* nova cor de fundo ao passar o mouse */
}

.btn-border-1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3800;
  z-index: -1;
  transition: all 0.3s ease;
}

.btn-border-1:hover::before {
  transform: scaleY(0);
}

/*Botao de escolaridade modal*/

.btn-contato.btn-border-3::after,
.btn-contato.btn-border-3::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn-contato.btn-border-3::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid #ff3800;
    border-bottom: 3px solid #ff3800;
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn-contato.btn-border-3::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid #ff3800;
    border-right: 3px solid #ff3800;
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn-contato.btn-border-3:hover {
    animation: pulse 1s ease-out .4s;
    color: #ff3800;
}

.btn-contato.btn-border-3:hover::after,
.btn.btn-border-3:hover::before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn-contato.btn-border-3:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn-contato.btn-border-3:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}


/*animação code e view*/

.btn-border-1 {
  color: #ff3800; /* cor do texto padrão */
  border-color: #ff3800; /* cor da borda padrão */
}

.btn-border-1:hover, .btn-code:hover {
  color: white; /* nova cor do texto ao passar o mouse */
  border-color: #ff3800; /* nova cor da borda ao passar o mouse */
  background-color: #ff37009f; /* nova cor de fundo ao passar o mouse */
}

.btn-border-1::before, .btn-code::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3800;
  z-index: -1;
  transition: all 0.3s ease;
}

.btn-border-1:hover::before, .btn-code:hover::before {
  transform: scaleY(0);
}


/*************************FIM BOTOES*/

/************************************TEXTOS E TITULOS*/
p{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  overflow: hidden;
}


.h2-sobre {
  color: #233d4d;
  font-size:2.5em;
  margin-left: 25px;
  margin-bottom: 45px;
  font-family: "";
  margin-top: 20px;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  overflow: hidden;}

.sobre-text {
  color: #17141f;
  font-size: 1.3em;
  font-weight: lighter;
  opacity: 0.8;
  margin-left: 25px;
   font-family: "Roboto", sans-serif;
}
.sobre-text2 {
  color: #ff3800;
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.8;
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
}

h2 {
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: bold;
  color: #ff3800;
}


.h2-topicos {
  margin-top: 70px;
  font-size: 70px;
  margin-bottom: 50px;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #ff3800;
  overflow: hidden;
}



.p-servico {
  font-size: 1.3em;
  color: #000000;
  font-weight: lighter;
  opacity: 0.8;
  margin-left: 10px;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: lighter;
}


.h3-servico {
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  color: #ff3800;
  margin-left: 10px;
  overflow: hidden;
}

.h2-tec {
  margin-left: 70px;
  margin-top: 70px;
  font-size: 70px;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
  color: #ff3800;
  overflow: hidden;

}

.h3-tec {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  color: #f4f0e6;
  margin-left: 23px;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden;
}

.text-tec {
  font-size: 1.4rem;
  color: #fdfdfd;
  font-weight: lighter;
  opacity: 0.8;
  margin-left: 20px;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: lighter;
  overflow: hidden;
}

.h2-contato {
  font-size: 3em;
  color: #ff3800;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  overflow: hidden;
}
.timeline-title{
  overflow: hidden;
}


/******************************FIM*/



/*------------------------------------------------Video*/
.section-video {
  position: relative;
  height: 100vh;
  margin-top: 0;
  overflow: hidden;
  margin-bottom: 100px;

}


.video-container {
  position: relative;
  width: 100%;
  height: 100%;
 
}

.video-bg {
  opacity: 0.2;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/*
.hidden {
  display: none;
}*/

/*CONTEUDO VIDEO*/
h1,
#textinho,
#textinho1 {
  position: relative;
  animation: slideInFromBottom 1s ease-in-out forwards;
  text-align: center;
}
#titulo {
  font-family: "Black Ops One", system-ui;
  font-size: 6em;
}
#textinho,
#textinho1 {
  font-size: 3em;
  font-family: "Josefin Sans", sans-serif;
}

h1{
  margin-top: 150px;
  color: #ff3800;
  font-size: 3em;

}

.fa-chevron-down{
  color: #ff3800;
  animation: scrollUpDown 1s infinite alternate;

}

/*-----animacao da seta*/
@keyframes scrollUpDown {
  from {
    transform: translateY(0); /* Posição inicial (não move) */
  }
  to {
    transform: translateY(-20px); /* Posição final */
  }
}
/*------------Animação dos primeiros textos*/
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*---------------------------------Links redes sociais*/
.social-links {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 900;
}

.social-icon {
 
  margin-bottom: 10px; /* Espaçamento entre os ícones */
  text-decoration: none;
  display: block;
}

.social-icon img {
  width: 40px; /* Largura dos ícones */
  height: 40px; /* Altura dos ícones*/
  z-index: 1000;
  margin-right: 25px;
}
.social-icon:hover img {
  transform: scale(1.5); /* tamanho */
  transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}

/*---------------------------------------------------------------------------------------------------------------------------------nav*/

.navbar, header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding-right: 0; /* Remove o padding direito */
  justify-content: center;
}



#header {
  background-color: #f6f5f2;
  height: 4em;
  margin-bottom: 3em;
  font-size: large;
  margin-right: 0;
  width: 100%;
  justify-content: center;
}

nav ul li a:hover {
  color: #ff3800;
}


.navbar-light .navbar-nav .nav-link {
  color: #ff3800;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: lighter;
  padding: 12px;
  justify-content: center;

}

.nav-item a:hover {
  color: #777777;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}

.navbar-light .navbar-nav  {
  color: #1b1b1b;
}

nav {
  text-align: left;
  display: inline;
}


.navbar-nav .nav-link {
   text-transform: uppercase;
  color: #f4f0e6;
  font-family: "gruppo";
  font-weight: bolder;
  font-size: 20px;
  margin-right: 20px;
  transition: color 0.4s ease, text-decoration 0.3s ease; /* Adicionando transição suave */
}

.navbar-nav .nav-link:hover {
  color: black; /* Cor do texto ao passar o mouse */
  text-decoration: underline; /* Adicionando linha ao passar o mouse */
}



/*------------------------------------------SOBRE MIM*/
.articleUm{
  background-color: #f6f5f2c2;
  overflow: hidden; /* Para cortar qualquer conteúdo que saia da área do artigo */
  padding-top: 60px;
}
.text-top {
  padding-right: 50px;
  padding-left: 50px;
}


.img-bottom {
  margin-left: 0;
}


.button {
  margin-top: 40px;
}



/*-------------------------------------------------------------------------------------------------SERVIÇOS*/
.section-servico {
  background-color: #f6f5f2; 
  overflow: hidden;
  padding-bottom: 50px; /* Reduzindo o padding inferior para reduzir o espaço extra */
  margin-bottom: 0; /* Adicionando um espaço extra após a seção de serviços */
}

.servico-container {
  display: flex;
  justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal */
}

.servico-item {
  flex: 1; /* Faz os cards ocuparem a mesma largura */
  position: relative;
  min-width: 350px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px; /* Adicionando margin-bottom para separar os cards */
  padding: 40px; /* Removendo o padding fixo */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s, border-radius 0.5s; /* Adicionando border-radius à transição */
}

.img-servico {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
  
}


.servico-item1 {
   /* background: linear-gradient(-45deg, #3b3838, #524e4e);*/
    border-radius: 10px;
    padding: 5px 20px 5px 8px; /* Padding de 5px em todas as direções, exceto à direita que é 8px */
    justify-content: space-between;
}

.servico-item2 {
 /* background: linear-gradient(-45deg, #3b3838, #524e4e);*/
  border-radius: 10px;
  padding: 5px 20px 5px 5px; /* Padding de 5px em todas as direções, exceto à direita que é 8px */
  justify-content: space-between;
}

.servico-item3 {
 /* background: linear-gradient(-45deg, #3b3838, #524e4e);*/
  border-radius: 10px;
  padding: 5px 20px 5px 5px; /* Padding de 5px em todas as direções, exceto à direita que é 8px */
  justify-content: space-between;
}

.p-servico{
  font-size: 1.3em;
}



/*--------------------------------------------------------------------------------------- FORMAÇÃO*/

#Formacao{
  background-color: #f6f5f2; 
  padding-top: 90px;
  margin-top: 0;
 padding-bottom: 10px;
 
}
#modal-1,
#modal-2,
#modal-3{
  margin-top: 15px;
  height: 35px;
  padding-top: 6px;
  font-size: 13px;
}


.timeline {
  position: relative;
  margin-top: 50px;
  background-color: #f6f5f2; 
}

.timeline-item {
  position: relative;
  padding: 20px;
  border-left: 3px solid #ff3800;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #233d4d;
}

/*bolinha*/
.timeline-marker {
  position: absolute;
  top: 15px;
  left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff3800;
  z-index: 1;
  
}

.timeline-content {
  padding-left: 20px;

  padding-bottom: 15px;
  margin-top: 10px;
}

.timeline-title {
  font-size: 1.2rem;
  color: #ff3800;
  margin-bottom: 10px;

}

.timeline-content p {
  margin-bottom: 5px;

}

/******************************MODAL*/
.p-modal{
  font-size: 14px;
}
.modal-content {
  background-color: #ffffff; /* Cor de fundo do modal */
  color: #233d4d; /* Cor do texto do modal */
}
.modal-body{
    background-color: #233d4dc8; /* Cor de fundo do modal */
  color: #ffffff; /* Cor do texto do modal */
}

/*---------------------------------------------------------------------------------------------------------------------Projetos*/

.articleDois {
  background-color: #f6f5f2; 
  width: 105%;
}

.h2-project {
  font-family: "Gruppo", sans-serif;
  margin-top: 30px;
  font-size: 70px;
  color: #ff3800;
}

.h2-project-left {
  font-family: "Gruppo", sans-serif;
  margin-top: 30px;
  font-size: 60px;
  margin-left: 40px;
  color: #ff3800;
}

.img-left {
  margin-left: 40px;
}

.text {
  margin-top: 70px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #494440;
}

.text-left {
  margin-top: 80px;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #494440;
}
.img-projeto {
  max-width: 100%; /* Torna a largura máxima igual ao tamanho do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.img-audiobook{
  max-width: 100%; /* Torna a largura máxima igual ao tamanho do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 50px;
}

/*--------------------------------------------------------------------skills*/

.skills{
  background-color: #233d4d;
}

.fa-star{
  color: #ff3800;
}


/*-----------------------------------------------------------CONTATO*/

.articleContato {
  margin-bottom: 80px;
   padding-top: 50px;
 /* background-color: #f6f5f200; */
 
}



.tect{
  background-color: #233d4d;
  color: #f4f0e6;
  backdrop-filter: blur(10px); /* Aplicando o filtro de desfoque */
  padding-right: 40px;
  padding-top:100px;
  padding-bottom: 90px;
  border-radius: 10px 290px 10px 290px;
  
}



.texto-contato{
  margin-top: 5px;
  font-size: 20px;
}

label {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  margin-top: 35px;
  color: #ffffff;
  margin-left: 40px;
}

.form-control {
  border-color: #ff3800;
  margin-bottom: 20px;
  margin-left: 40px;
  width: 500px;
}

.img-cont {
  margin-top: 30px;
}


.btn-enviar{
  margin-top: 50px;
  margin-left: 250px;
  background-color: #233d4d;
}

.img-cont{
  opacity: 0.9; 
}



/*======================================================TELAS PEQUENAS*/

@media only screen and (max-width: 400px) {

  /* tipografia */
*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;/*problema do width*/

}
  p{
    font-size: 21px;

  }
body{
  max-width: 400px;
}
/*==============================NAV*/

#header{
  max-width: 400px;/*problema do width*/
  height: 50px;
  background-color: transparent;
}
.img-nav{
  display: none;
}
.navbar-toggler{
  margin-left: 6px;
  margin-top: 30px;
  background-color: #ff3800;
}

.navbar{
  background-color: #00000000;
}

 
.navbar-collapse{
  background-color: #f4f0e6;
  border-radius: 5px;
}

/*=========================VIDEO*/
.section-video{
 max-width: 400px;
  height: 300px;
}


  #titulo{
    font-size: 33px;
    margin-top: 100px;
  }
 #textinho{
  font-size: 22px;
 }


 #textinho1{
  font-size: 19px;
 }
  /* =======================================================SOBRE */
  .articleUm{
 max-width: 400px;
 margin: 0;

  }


  .h2-sobre {
    font-size: 32px;
   margin-left: 0;
  }

  
  .sobre-text {
    font-size: 18px;
    margin-left: 0;

  }

  .btn-2{
    margin-left: 0;
  }
 
 .img-container{
  max-height: 50px;
 }
/*trocar*/
  .btn-2{
    width: 200px;
    height: 50px;
  }
  /*============================================= Estilos para .link */
  /*.links{
    display: none;
  }
 */
 .social-links {
  position: fixed;
  left: 0;
  /*transform: translateY(-50%);*/
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 900;
}
 .social-icon img {
  width: 20px; /* Largura dos ícones */
  height: 20px; /* Altura dos ícones*/
  z-index: 1000;
  margin-right: 25px;
}

.social-icon:hover img {
 display: none;
}


  /* Estilos para .section-servico */
  .section-servico {
    font-size: 11px;
    margin-right: 10px;
  }

  .h2-topicos{
    font-size: 33px;
  }
  .servico-item1,
  .servico-item2,
  .servico-item3{
    padding-left: 60px;
  }
/*=====================================================================skills*/
  #skills{
    margin-top: 600px;
    padding: 0;
  }

  
.progressBar{
  padding-left: 33px;
  margin-left: 13px;
}
.img-skill{
  max-width: 270px;
  margin-left: 35px;
}



  /*=======================================================================PROJETOS*/
  
  .h2-project-left,
  .h2-project{
    font-size: 33px;
  
    margin-bottom: 13px;
    margin-left: 45px;
  }
  .text-left{
    margin-right: 8px;
    margin-left: 51px;

  }
  .text{
    margin-left: 51px;
    margin-right: 25px;
  }
  .btn-code{
    margin-left: 51px;
  }

  .img-project{
   margin-left: 0;
  }

  .img-projeto{
    width: 300px;
    margin-left: 0;
  }



  /*CONTATO*/

  .tect{
    background-color: #233d4d;
    color: #f4f0e6;
    border-radius: 140px 0 170px 0;
    padding-left:45px;
  
  }

  .texto-contato{
    font-size: 20px;
  
  }

  .form-control{
    max-width: 180px;
   
  }
  .btn-code{
   
    margin-top: 30px;

  }
 
}


.fa-chevron-down{

  margin-top: 0;
  margin-bottom: 200px;
}


  /*===========================================================TELAS MEDIASSSSSSSS*/
  @media screen and (min-width: 401px) and (max-width: 600px) {
    *{
      padding: 0;
      margin: 0;
      overflow-x: hidden;/*problema do width*/
    
    }

    .fa-chevron-down{

      margin-top: 0;
      margin-bottom: 200px;
    }
    
    p{
      font-size: 21px;
  
    }
    body{
    max-width: 600px;
  }


  /*==============================NAV*/
  #header{
    background-color: transparent;
    height: 50px;
  }

  .img-nav{
    display: none;
  }
  .navbar-toggler{
    margin-left: 6px;
    margin-top: 30px;
    background-color: #ff3800;
  }
  
  .navbar {
    background-color: transparent; 
  
  }
  
 
.navbar-collapse{
  background-color: #f4f0e6;
  border-radius: 5px;
}


/*=========================VIDEO*/
.section-video{
  max-width: 700px;
   height: 430px;
 }
 
 
   #titulo{
     font-size: 43px;
     margin-top: 100px;
   }
  #textinho{
   font-size: 32px;
  }
 
 
  #textinho1{
   font-size: 29px;
  }

  /* =======================================================SOBRE */
  .articleUm{
    max-width: 600px;
    margin: 0;
   
     }
   
   
     .h2-sobre {
       font-size: 32px;
       margin-left: 0;
     }
   
     
     .sobre-text {
       font-size: 18px;
       margin-left: 0;
   
     }

     .eu{
      max-width: 450px;
      margin-left: -20px;
     }
   

/*============================================= Estilos para .link */
  /*.links{
    display: none;
  }
 */
 .social-links {
  position: fixed;
  left: 0;
  /*transform: translateY(-50%);*/
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 900;
}


.social-icon img {
  width: 30px; /* Largura dos ícones */
  height: 30px; /* Altura dos ícones*/
  z-index: 1000;
  margin-right: 25px;
}

.social-icon:hover img {
 display: none;
}

  /* Estilos para .section-servico */
  .section-servico {
    font-size: 11px;
    margin-right: 10px;
  }

  .h2-topicos{
    font-size: 33px;
  }
  .servico-item1,
  .servico-item2,
  .servico-item3{
    padding-left: 60px;
  }

  /*=======================================================PROJETOS*/
  
  .h2-project-left,
  .h2-project{
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 51px;
  }
  .text-left{
    margin-right: 8px;
    margin-left: 51px;
    margin-top: 0;

  }
  .text{
    margin-left: 51px;
    margin-right: 25px;
    margin-top: 0;
  }

  .btn-code{
    margin-left: 51px;
  }

  .img-left{
    margin-bottom: 10px;
    margin-left: 51px;
  }
  .img-project{
   margin-left: 0;
  }
  .img-projeto{
    width: 300px;
    margin-left: 0;
  }
 
  .img-audiobook{
    max-width: 400px;
  }

  /*CONTATO*/

  .tect{
    background-color: #233d4d;
    color: #f4f0e6;
    border-radius: 140px 0 170px 0;
    padding-left:45px;
  
  }

  .texto-contato{
    font-size: 20px;
  
  }

  .form-control{
    max-width: 280px;
   
  }
  .btn-code{
   
    margin-top: 30px;

  }
  }


  /*=======================================================================TELAS UM POUCO MAIORES*/

  @media screen and (min-width: 601px) and (max-width: 900px) {


    .navbar-collapse{
      background-color: #f4f0e6;
      border-radius: 5px;
    }

    
    .img-skill{
      margin-left: 50px;
    }
  /*CONTATO*/

  .tect{
    background-color: #233d4d;
    color: #f4f0e6;
    border-radius: 140px 0 170px 0;
    padding-left:45px;
  
  }

  .texto-contato{
    font-size: 20px;
  
  }

  .form-control{
    max-width: 380px;
   
  }
  .btn-code{
   
    margin-top: 30px;

  }
  }